* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Mobile First */
/* Desktops First */
@font-face {
  font-family: 'sans_bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'sans_reg';
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'sans_semi';
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'raleway_bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: 'raleway-med';
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: 'raleway-reg';
  src: url(../fonts/Raleway-Regular.ttf);
}
header {
  display: flex;
  width: 100%;
  height: 75px;
  font-family: "sans_semi";
  font-size: 14px;
  background-color: black;
}
header .header__logo {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-left: 115px;
}
header .nav__header {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-self: center;
  margin-right: 106px;
}
header .nav__header .nav__list {
  display: flex;
  color: white;
}
header .nav__header .nav__item {
  margin-right: 64px;
}
header .nav__header .nav__links {
  color: white;
  transition: 1s;
}
header .nav__header .nav__links:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #AB4949;
  transition: 0.7s;
}

.template {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 951px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sample.png);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.template__inner {
  display: flex;
  width: 1170px;
  height: 558px;
}
.template__inner .template__axure {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 670px;
  height: 558px;
}
.template__inner .template__axure__item {
  font-family: "raleway-med";
  font-size: 48px;
  color: white;
  width: 670px;
  text-transform: uppercase;
  line-height: 1.2;
}
.template__inner .template__axure hr {
  width: 170px;
  height: 2px;
  background-color: white;
}
.template__inner .template__axure__item2 {
  font-family: "raleway-reg";
  font-size: 18px;
  line-height: 1.3;
  width: 270px;
}
.template__inner .template__axure__btn {
  width: 270px;
  height: 58px;
  font-size: 18px;
  background: transparent;
  font-family: "sans_semi";
  border: 2px solid white;
  color: white;
  transition: 1s;
}
.template__inner .template__axure__btn:hover {
  transition: 0.7s;
  background-color: #AB4949;
}
.template__inner .template__demo {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  height: 558px;
}
.template__inner .template__demo .template__demo__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
}
.template__inner .template__demo .template__demo__form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 367px;
  height: 90px;
  text-transform: uppercase;
  font-size: 24px;
  color: #333333;
  font-family: "sans_bold";
}
.template__inner .template__demo .template__demo__form__title .free {
  color: #EC7979;
  white-space: pre-wrap;
}
.template__inner .template__demo .template__demo__form__input {
  width: 370px;
  height: 38px;
  font-size: 14px;
  color: black;
  font-family: "sans_reg";
  border-bottom: 1px solid #BDBDBD;
}
.template__inner .template__demo .template__demo__form__input::placeholder {
  font-size: 14px;
  color: #BDBDBD;
  font-family: "sans_reg";
}
.template__inner .template__demo .template__demo__form__btn {
  margin-top: 75px;
}
.template__inner .template__demo .template__demo__form__btn button {
  width: 470px;
  height: 60px;
  background-color: #EC7979;
  border-radius: 0 0 10px 10px;
  font-family: "sans_semi";
  font-size: 15px;
  color: white;
  transition: 1s;
}
.template__inner .template__demo .template__demo__form__btn button:hover {
  transition: 0.7s;
  background-color: #AB4949;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: #F8EFEF;
}
.media__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1170px;
  height: 120px;
}
.media__inner .media__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 470px;
  height: 120px;
  font-size: 18px;
  color: #86878B;
  line-height: 1.5;
  font-family: "raleway-reg";
}
.media__inner .media__text__title {
  font-size: 24px;
  color: #333333;
  font-family: "sans_bold";
}
.media__inner .media__ico {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1412px;
}
.container .tabs {
  width: 1170px;
  height: 540px;
}
.container .tabs__items {
  display: flex;
}
.container .tabs__items .tabs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 40px;
  font-size: 18px;
  color: #333333;
  border: 1px solid #C6CBCD;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}
.container .tabs__items .tabs__item span {
  position: relative;
  z-index: 2;
}
.container .tabs .tabs__body .tabs__block {
  display: flex;
  display: none;
  position: relative;
}
.container .tabs .tabs__body .tabs__block__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "raleway-reg";
  font-size: 18px;
  padding-left: 98px;
  line-height: 1.3;
  flex-grow: 1;
  border: 1px solid #C6CBCD;
}
.container .tabs .tabs__body .tabs__block__text p {
  width: 570px;
}
.container .tabs .tabs__body .tabs__block__text h2 {
  font-family: "sans_bold";
  font-size: 30px;
  color: black;
}
.container .tabs .tabs__body .tabs__block__text button {
  width: 270px;
  height: 58px;
  background-color: #EC7979;
  font-family: "sans_semi";
  font-size: 18px;
  color: white;
  transition: 1s;
}
.container .tabs .tabs__body .tabs__block__text button:hover {
  transition: 0.7s;
  background-color: #AB4949;
}
.container .tabs .tabs__body .tabs__block__image {
  width: 470px;
  height: 500px;
}
.container .tabs .tabs__body .tabs__block::before {
  content: "";
  height: 40px;
  width: 203px;
  position: absolute;
  top: -40px;
}
.container .tabs .tabs__body .tabs__block:nth-child(1)::before {
  background-color: #C6CBCD;
  border-radius: 5px 5px 0 0;
  left: 0;
}
.container .tabs .tabs__body .tabs__block:nth-child(2)::before {
  background-color: #C6CBCD;
  border-radius: 5px 5px 0 0;
  left: 203px;
}
.container .tabs .tabs__body .tabs__block:nth-child(3)::before {
  background-color: #C6CBCD;
  border-radius: 5px 5px 0 0;
  left: 406px;
}
.container .tabs .tabs__body .tabs__block:target {
  display: flex;
}
.container .benefits {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 665px;
  margin-top: 50px;
}
.container .benefits__text {
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "raleway-reg";
  font-size: 18px;
  color: #86878B;
}
.container .benefits__text hr {
  width: 170px;
  height: 1px;
  background: #EC7979;
  margin: 50px 0 40px 0;
}
.container .benefits__text__title {
  font-family: "raleway-reg";
  font-size: 36px;
  margin-top: 100px;
  color: black;
}
.container .benefits__cards {
  display: flex;
  height: 383px;
}
.container .benefits__cards__item {
  width: 33.33%;
  height: 383px;
  text-align: center;
  font-family: "raleway-reg";
  font-size: 18px;
  line-height: 1.3;
  color: black;
  overflow: hidden;
}
.container .benefits__cards__item .benefits__cards__title {
  font-family: "sans_bold";
  color: black;
  font-size: 24px;
  margin: 35px 0;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  width: 100%;
  height: 900px;
}
.prices__inner {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 800px;
}
.prices__inner .prices__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #86878B;
  height: 290px;
  font-family: "raleway-reg";
  font-size: 18px;
}
.prices__inner .prices__text__title {
  text-transform: uppercase;
  color: black;
  font-size: 36px;
}
.prices__inner .prices__text hr {
  width: 170px;
  height: 1px;
  margin: 50px 0 40px 0;
  background-color: #EC7979;
}
.prices__inner .prices__cards {
  display: flex;
  justify-content: space-between;
  height: 510px;
}
.prices__inner .prices__cards__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 370px;
  height: 510px;
}
.prices__inner .prices__cards__item li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "raleway-reg";
  color: #86878B;
  font-size: 18px;
  height: 50px;
  background-color: white;
}
.prices__inner .prices__cards__item li:nth-child(-n+3) {
  background-color: #333333;
}
.prices__inner .prices__cards__item li:nth-child(1) {
  font-family: "sans_bold";
  font-size: 24px;
  color: white;
}
.prices__inner .prices__cards__item li:nth-child(2) {
  font-family: "raleway-bold";
  font-size: 34px;
  color: white;
  height: 100px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.prices__inner .prices__cards__item:nth-child(1):hover {
  cursor: pointer;
  box-shadow: 4px 5px 4px 4px #86878b8f;
  justify-content: flex-start;
}
.prices__inner .prices__cards__item:nth-child(2):hover {
  cursor: pointer;
  box-shadow: 4px 5px 4px 4px #86878b8f;
  justify-content: flex-start;
}
.prices__inner .prices__cards__item:nth-child(3):hover {
  cursor: pointer;
  box-shadow: 4px 5px 4px 4px #86878b8f;
  justify-content: flex-start;
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 744px;
  font-family: "raleway-reg";
}
.customers__inner {
  width: 1170px;
  height: 630px;
}
.customers__inner .customers__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 294px;
  font-size: 18px;
  color: #86878B;
}
.customers__inner .customers__text__title {
  text-transform: uppercase;
  font-size: 36px;
  color: black;
}
.customers__inner .customers__text hr {
  width: 170px;
  height: 1px;
  margin: 50px 0 40px 0;
  background-color: #EC7979;
}
.customers__inner .customers__reviews {
  display: flex;
  justify-content: space-between;
}
.customers__inner .customers__reviews__cards {
  width: 370px;
  height: 336px;
}
.customers__inner .customers__reviews__cards__box1 {
  display: flex;
  text-align: center;
  align-items: center;
  height: 180px;
  color: #86878B;
  font-size: 18px;
  background-color: #E2E2E2;
  border-radius: 10px;
}
.customers__inner .customers__reviews__cards__box2 {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  color: black;
  height: 156px;
}
.customers__inner .customers__reviews__cards__box2 span {
  font-family: "sans_bold";
  font-size: 24px;
}
.customers__inner .customers__reviews__cards__box2 p {
  margin-left: 30px;
}

.dezign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 442px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.dezign__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 342px;
  width: 1170px;
  font-size: 18px;
  color: white;
  font-family: "raleway-reg";
}
.dezign__inner .dezign__title {
  font-size: 36px;
  text-transform: uppercase;
}
.dezign__inner hr {
  background-color: white;
  width: 170px;
  height: 1px;
  margin: 50px 0 40px 0;
}
.dezign__inner .dezign__btn {
  margin-top: 73px;
}
.dezign__inner .dezign__btn button {
  width: 370px;
  height: 58px;
  font-size: 18px;
  background: transparent;
  font-family: "sans_semi";
  border: 2px solid white;
  color: white;
  transition: 1s;
}
.dezign__inner .dezign__btn button:hover {
  transition: 0.7s;
  background-color: #AB4949;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 722px;
  width: 100%;
  background-color: white;
}
.contact__inner {
  display: flex;
  flex-direction: column;
  height: 622px;
  width: 1170px;
}
.contact__inner .contact__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "raleway-reg";
  font-size: 18px;
  color: #86878B;
  height: 211px;
}
.contact__inner .contact__text__title {
  color: black;
  font-size: 36px;
  text-transform: uppercase;
}
.contact__inner .contact__text hr {
  width: 170px;
  height: 1px;
  margin: 50px 0 40px 0;
  background-color: #EC7979;
}
.contact__inner .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 1170px;
  height: 411px;
}
.contact__inner .contact__form .contact__form__wrapper {
  display: flex;
  width: 100%;
}
.contact__inner .contact__form .contact__form__wrapper .contact__form__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 214px;
}
.contact__inner .contact__form .contact__form__wrapper .contact__form__input input {
  width: 571px;
  height: 38px;
  font-size: 14px;
  color: black;
  font-family: "sans_reg";
  border-bottom: 1px solid #BDBDBD;
}
.contact__inner .contact__form .contact__form__wrapper .contact__form__input input::placeholder {
  font-size: 14px;
  color: #BDBDBD;
  font-family: "sans_reg";
}
.contact__inner .contact__form .contact__form__wrapper .contact__form__message {
  width: 50%;
  height: 214px;
}
.contact__inner .contact__form .contact__form__wrapper .contact__form__message textarea {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: black;
  font-family: "sans_reg";
  border-bottom: 1px solid #BDBDBD;
}
.contact__inner .contact__form .contact__form__wrapper .contact__form__message textarea::placeholder {
  font-size: 14px;
  color: #BDBDBD;
  font-family: "sans_reg";
}
.contact__inner .contact__form .contact__form__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: 50px;
}
.contact__inner .contact__form .contact__form__btn button {
  width: 370px;
  height: 60px;
  background-color: #EC7979;
  font-family: "sans_semi";
  font-size: 18px;
  color: white;
  transition: 1s;
}
.contact__inner .contact__form .contact__form__btn button:hover {
  transition: 0.7s;
  background-color: #AB4949;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 164px;
  background-color: black;
}
footer .footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1170px;
  height: 100px;
}
footer .footer__wrapper .footer__ico {
  display: flex;
  justify-content: center;
  align-self: center;
}
footer .footer__wrapper .footer__ico a {
  margin-right: 33px;
}
footer .footer__wrapper .footer__ico a:last-child {
  margin-right: 0;
}
footer .footer__wrapper .footer__copyright {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 28px;
  color: #86878B;
  font-size: 18px;
  font-family: "raleway-reg";
}
