@import "nullcss.scss";
@import "media.scss";

@font-face {
    font-family: 'sans_bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'sans_reg';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'sans_semi';
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'raleway_bold';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'raleway-med';
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'raleway-reg';
    src: url(../fonts/Raleway-Regular.ttf);
}

$hover: #AB4949;
$btn: #EC7979;
$black: black;
$white: white;

header {
    display: flex;
    width: 100%;
    height: 75px;
    font-family: "sans_semi";
    font-size: 14px;
    background-color: $black;

    .header__logo {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        margin-left: 115px;
    }

    .nav__header {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-self: center;
        margin-right: 106px;

        .nav__list {
            display: flex;
            color: $white;
        }

        .nav__item {
            margin-right: 64px;
        }

        .nav__links {
            color: $white;
            transition: 1s;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: $hover;
                transition: 0.7s;
            }
        }
    }
}


.template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 951px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sample.png);
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        width: 1170px;
        height: 558px;

        .template__axure {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 670px;
            height: 558px;

            &__item {
                font-family: "raleway-med";
                font-size: 48px;
                color: $white;
                width: 670px;
                text-transform: uppercase;
                line-height: 1.2;
            }

            hr {
                width: 170px;
                height: 2px;
                background-color: $white;
            }

            &__item2 {
                font-family: "raleway-reg";
                font-size: 18px;
                line-height: 1.3;
                width: 270px;
            }

            &__btn {
                width: 270px;
                height: 58px;
                font-size: 18px;
                background: transparent;
                font-family: "sans_semi";
                border: 2px solid $white;
                color: $white;
                transition: 1s;

                &:hover {
                    transition: 0.7s;
                    background-color: $hover;
                }
            }
        }

        .template__demo {
            display: flex;
            justify-content: flex-end;
            width: 500px;
            height: 558px;

            .template__demo__form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 470px;
                height: 450px;
                border-radius: 10px;
                background-color: $white;

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 367px;
                    height: 90px;
                    text-transform: uppercase;
                    font-size: 24px;
                    color: #333333;
                    font-family: "sans_bold";

                    .free {
                        color: #EC7979;
                        white-space: pre-wrap;
                    }
                }

                &__input {
                    width: 370px;
                    height: 38px;
                    font-size: 14px;
                    color: $black;
                    font-family: "sans_reg";
                    border-bottom: 1px solid #BDBDBD;

                    &::placeholder {
                        font-size: 14px;
                        color: #BDBDBD;
                        font-family: "sans_reg";
                    }
                }

                &__btn {
                    margin-top: 75px;

                    button {
                        width: 470px;
                        height: 60px;
                        background-color: $btn;
                        border-radius: 0 0 10px 10px;
                        font-family: "sans_semi";
                        font-size: 15px;
                        color: $white;
                        transition: 1s;

                        &:hover {
                            transition: 0.7s;
                            background-color: $hover;
                        }
                    }
                }
            }
        }
    }
}


.media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #F8EFEF;

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1170px;
        height: 120px;

        .media__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 470px;
            height: 120px;
            font-size: 18px;
            color: #86878B;
            line-height: 1.5;
            font-family: "raleway-reg";

            &__title {
                font-size: 24px;
                color: #333333;
                font-family: "sans_bold";
            }
        }

        .media__ico {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
        }
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1412px;

    .tabs {
        width: 1170px;
        height: 540px;

        &__items {
            display: flex;

            .tabs__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 203px;
                height: 40px;
                font-size: 18px;
                color: #333333;
                border: 1px solid #C6CBCD;
                border-radius: 5px 5px 0 0;
                border-bottom: 0;

                span {
                    position: relative;
                    z-index: 2;
                }
            }
        }

        .tabs__body {

            .tabs__block {
                display: flex;
                display: none;
                position: relative;

                &__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    font-family: "raleway-reg";
                    font-size: 18px;
                    padding-left: 98px;
                    line-height: 1.3;
                    flex-grow: 1;
                    border: 1px solid #C6CBCD;

                    p {
                        width: 570px;
                    }

                    h2 {
                        font-family: "sans_bold";
                        font-size: 30px;
                        color: $black;
                    }

                    button {
                        width: 270px;
                        height: 58px;
                        background-color: $btn;
                        font-family: "sans_semi";
                        font-size: 18px;
                        color: $white;
                        transition: 1s;

                        &:hover {
                            transition: 0.7s;
                            background-color: $hover;
                        }
                    }
                }

                &__image {
                    width: 470px;
                    height: 500px;
                }

                &::before {
                    content: "";
                    height: 40px;
                    width: 203px;
                    position: absolute;
                    top: -40px;
                }

                &:nth-child(1)::before {
                    background-color: #C6CBCD;
                    border-radius: 5px 5px 0 0;
                    left: 0;
                }

                &:nth-child(2)::before {
                    background-color: #C6CBCD;
                    border-radius: 5px 5px 0 0;
                    left: 203px;
                }

                &:nth-child(3)::before {
                    background-color: #C6CBCD;
                    border-radius: 5px 5px 0 0;
                    left: 406px;
                }

                &:target {
                    display: flex;
                }
            }
        }
    }

    .benefits {
        display: flex;
        flex-direction: column;
        width: 1170px;
        height: 665px;
        margin-top: 50px;

        &__text {
            height: 282px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "raleway-reg";
            font-size: 18px;
            color: #86878B;

            hr {
                width: 170px;
                height: 1px;
                background: #EC7979;
                margin: 50px 0 40px 0;
            }

            &__title {
                font-family: "raleway-reg";
                font-size: 36px;
                margin-top: 100px;
                color: $black;
            }
        }

        &__cards {
            display: flex;
            height: 383px;

            &__item {
                width: 33.33%;
                height: 383px;
                text-align: center;
                font-family: "raleway-reg";
                font-size: 18px;
                line-height: 1.3;
                color: $black;
                overflow: hidden;

                .benefits__cards__title {
                    font-family: "sans_bold";
                    color: $black;
                    font-size: 24px;
                    margin: 35px 0;
                }
            }
        }
    }
}


.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 100%;
    height: 900px;

    &__inner {
        display: flex;
        flex-direction: column;
        width: 1170px;
        height: 800px;

        .prices__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #86878B;
            height: 290px;
            font-family: "raleway-reg";
            font-size: 18px;

            &__title {
                text-transform: uppercase;
                color: $black;
                font-size: 36px;
            }

            hr {
                width: 170px;
                height: 1px;
                margin: 50px 0 40px 0;
                background-color: #EC7979;
            }
        }

        .prices__cards {
            display: flex;
            justify-content: space-between;
            height: 510px;

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 370px;
                height: 510px;

                li {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "raleway-reg";
                    color: #86878B;
                    font-size: 18px;
                    height: 50px;
                    background-color: $white;

                    &:nth-child(-n+3) {
                        background-color: #333333;
                    }

                    &:nth-child(1) {
                        font-family: "sans_bold";
                        font-size: 24px;
                        color: $white;
                    }

                    &:nth-child(2) {
                        font-family: "raleway-bold";
                        font-size: 34px;
                        color: $white;
                        height: 100px;
                        border-top: 2px solid $white;
                        border-bottom: 2px solid $white;
                    }
                }
            }

            &__item:nth-child(1):hover {
                cursor: pointer;
                box-shadow: 4px 5px 4px 4px #86878b8f;
                justify-content: flex-start;
            }

            &__item:nth-child(2):hover {
                cursor: pointer;
                box-shadow: 4px 5px 4px 4px #86878b8f;
                justify-content: flex-start;
            }

            &__item:nth-child(3):hover {
                cursor: pointer;
                box-shadow: 4px 5px 4px 4px #86878b8f;
                justify-content: flex-start;
            }
        }
    }
}


.customers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 744px;
    font-family: "raleway-reg";

    &__inner {
        width: 1170px;
        height: 630px;


        .customers__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 294px;
            font-size: 18px;
            color: #86878B;

            &__title {
                text-transform: uppercase;
                font-size: 36px;
                color: $black;
            }

            hr {
                width: 170px;
                height: 1px;
                margin: 50px 0 40px 0;
                background-color: #EC7979;
            }
        }

        .customers__reviews {
            display: flex;
            justify-content: space-between;

            &__cards {
                width: 370px;
                height: 336px;

                &__box1 {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    height: 180px;
                    color: #86878B;
                    font-size: 18px;
                    background-color: #E2E2E2;
                    border-radius: 10px;
                }

                &__box2 {
                    display: flex;
                    align-items: flex-end;
                    font-size: 18px;
                    color: $black;
                    height: 156px;

                    span {
                        font-family: "sans_bold";
                        font-size: 24px;
                    }

                    p {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}


.dezign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 342px;
        width: 1170px;
        font-size: 18px;
        color: $white;
        font-family: "raleway-reg";

        .dezign__title {
            font-size: 36px;
            text-transform: uppercase;
        }

        hr {
            background-color: $white;
            width: 170px;
            height: 1px;
            margin: 50px 0 40px 0;
        }

        .dezign__btn {
            margin-top: 73px;

            button {
                width: 370px;
                height: 58px;
                font-size: 18px;
                background: transparent;
                font-family: "sans_semi";
                border: 2px solid $white;
                color: $white;
                transition: 1s;

                &:hover {
                    transition: 0.7s;
                    background-color: $hover;
                }
            }
        }
    }
}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 722px;
    width: 100%;
    background-color: $white;

    &__inner {
        display: flex;
        flex-direction: column;
        height: 622px;
        width: 1170px;

        .contact__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            font-family: "raleway-reg";
            font-size: 18px;
            color: #86878B;
            height: 211px;

            &__title {
                color: $black;
                font-size: 36px;
                text-transform: uppercase;
            }

            hr {
                width: 170px;
                height: 1px;
                margin: 50px 0 40px 0;
                background-color: #EC7979;
            }
        }

        .contact__form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 1170px;
            height: 411px;

            .contact__form__wrapper {
                display: flex;
                width: 100%;

                .contact__form__input {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    height: 214px;

                    input {
                        width: 571px;
                        height: 38px;
                        font-size: 14px;
                        color: $black;
                        font-family: "sans_reg";
                        border-bottom: 1px solid #BDBDBD;

                        &::placeholder {
                            font-size: 14px;
                            color: #BDBDBD;
                            font-family: "sans_reg";
                        }
                    }
                }

                .contact__form__message {
                    width: 50%;
                    height: 214px;

                    textarea {
                        height: 100%;
                        width: 100%;
                        font-size: 14px;
                        color: $black;
                        font-family: "sans_reg";
                        border-bottom: 1px solid #BDBDBD;

                        &::placeholder {
                            font-size: 14px;
                            color: #BDBDBD;
                            font-family: "sans_reg";
                        }
                    }
                }
            }

            .contact__form__btn {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 60px;
                margin-top: 50px;

                button {
                    width: 370px;
                    height: 60px;
                    background-color: $btn;
                    font-family: "sans_semi";
                    font-size: 18px;
                    color: $white;
                    transition: 1s;

                    &:hover {
                        transition: 0.7s;
                        background-color: $hover;
                    }
                }
            }
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 164px;
    background-color: $black;

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1170px;
        height: 100px;

        .footer__ico {
            display: flex;
            justify-content: center;
            align-self: center;

            a {
                margin-right: 33px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .footer__copyright {
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 28px;
            color: #86878B;
            font-size: 18px;
            font-family: "raleway-reg";
        }
    }
}