@import "nullcss.scss";

@font-face {
    font-family: 'sans_bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'sans_reg';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'sans_semi';
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'raleway_bold';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'raleway-med';
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'raleway-reg';
    src: url(../fonts/Raleway-Regular.ttf);
}

$hover: #AB4949;
$btn: #EC7979;
$black: black;
$white: white;
$darkgrey: #333333;
$grey: #BDBDBD;
$grey-white: #C6CBCD;

// Общие title
.title-bold {
    font-size: 24px;
    color: $darkgrey;
    font-family: "sans_bold";
    @media screen and (max-width:1200px){
        font-size: 18px;
    }
}

.title {
    font-family: "raleway-reg";
    font-size: 36px;
    color: $black;
    text-transform: uppercase;
    @media screen and (max-width:1200px){
        font-size: 24px;
    }
    @media screen and (max-width:1020px){
        font-size: 18px;
    }
}

// Начало проекта
.header {
    display: flex;
    width: 100%;
    height: 75px;
    font-family: "sans_semi";
    font-size: 14px;
    background-color: $black;
    @media screen and (max-width:550px){
        height: 56px;
    }

    &__logo {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        margin-left: 115px;
        @media screen and (max-width:930px){
            margin-left: 20px;
        }
        
        & img{
            width: 185px;
            height: 75px;
            @media screen and (max-width:550px){
                width: 130px;
                height: 56px;
            }
        }
    }

    &__nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-self: center;
        margin-right: 106px;
        @media screen and (max-width:930px){
            margin-right: 0px;
        }
        @media screen and (max-width:550px){
            &.open .nav{
                z-index: 1;
                display: flex;
                flex-direction: column;
                row-gap: 50px;
                padding: 45px 0 0 0;
                align-items: center;
                position: absolute;
                height: 480px;
                top: 56px;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: $black;
            }
        }

        .nav__button{
            display: none;
            align-items: center;
            width: 25px;
            height: 20px;
            margin: 0 35px 0 0;
            background-color: $black;
            @media screen and (max-width:550px){
                display: flex;
            }

            & img{
                width: 25px;
                height: 20px;
            }
        }

        .nav {
            display: flex;
            color: $white;
            @media screen and (max-width:550px){
                display: none;
            }

            &__item {
                margin-right: 64px;
                @media screen and (max-width:1000px){
                    margin-right: 44px;
                }
                @media screen and (max-width:700px){
                    margin-right: 24px;
                }
                @media screen and (max-width:600px){
                    margin-right: 14px;
                }
            }

            &__link {
                color: $white;
                transition: 1s;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: $hover;
                    transition: 0.7s;
                }
            }
        }
    }
}


.template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 951px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sample.png);
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width:1200px){
        height: 693px;
    }
    @media screen and (max-width:930px){
        height: 950px;
    }

    &__inner {
        display: flex;
        width: 1170px;
        height: 558px;
        @media screen and (max-width:1200px){
            width: 890px;
            height: 450px;
        }
        @media screen and (max-width:930px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 950px;
            width: 455px;
        }
        @media screen and (max-width:500px){
            width: 290px;
        }

        .axure {
            display: flex;
            flex-direction: column;
            width: 670px;
            height: 558px;
            @media screen and (max-width:1200px){
                width: 455px;
                height: 450px;
            }
            @media screen and (max-width:930px){
                height: 380px;
                align-items: center;
            }
            @media screen and (max-width:500px){
                width: 290px;
                height: 410px;
            }

            .axure__logo{
                @media screen and (max-width:930px){
                    display: none;
                }
            
                & img{
                    width: 270px;
                    height: 100px;
                    margin: 0 0 50px 0;
                    @media screen and (max-width:1200px){
                        width: 183px;
                        height: 75px;
                        margin: 0 0 37px 0;
                    }
                }
            }

            &__title {
                font-family: "raleway-med";
                font-size: 48px;
                color: $white;
                width: 670px;
                text-transform: uppercase;
                line-height: 1.2;
                @media screen and (max-width:1200px){
                    font-size: 36px;
                    width: 455px;
                }
                @media screen and (max-width:930px){
                    text-align: center;
                }
                @media screen and (max-width:500px){
                    width: 290px;
                }
            }

            hr {
                width: 170px;
                height: 2px;
                margin: 50px 0 40px 0;
                background-color: $white;
                @media screen and (max-width:1200px){
                    width: 115px;
                    margin: 40px 0 30px 0;
                }
                @media screen and (max-width:930px){
                    width: 134px;
                }
            }

            &__content {
                font-family: "raleway-reg";
                font-size: 18px;
                line-height: 1.3;
                width: 270px;
                margin: 0 0 40px 0;
                @media screen and (max-width:1200px){
                    font-size: 14px;
                    width: 183px;
                    margin: 0 0 30px 0;
                }
                @media screen and (max-width:930px){
                    width: 290px;
                    text-align: center;
                }
            }

            &__btn {
                width: 270px;
                height: 58px;
                font-size: 18px;
                background: transparent;
                font-family: "sans_semi";
                border: 2px solid $white;
                color: $white;
                transition: 1s;
                @media screen and (max-width:1200px){
                    width: 183px;
                    height: 50px;
                }
                @media screen and (max-width:930px){
                    width: 290px;
                }

                &:hover {
                    transition: 0.7s;
                    background-color: $hover;
                }
            }
        }

        .template__demo {
            display: flex;
            justify-content: flex-end;
            width: 500px;
            height: 558px;
            @media screen and (max-width:1200px){
                width: 430px;
                height: 450px;
            }
            @media screen and (max-width:930px){
                height: 450px;
                width: 455px;
                justify-content: center;
            }
            @media screen and (max-width:500px){
                width: 290px;
                height: 381px;
            }

            .form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 470px;
                height: 450px;
                border-radius: 10px;
                background-color: $white;
                @media screen and (max-width:1200px){
                    width: 400px;
                }
                @media screen and (max-width:500px){
                    width: 290px;
                    height: 381px;
                }

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 367px;
                    height: 90px;
                    text-transform: uppercase;
                    font-size: 24px;
                    color: $darkgrey;
                    font-family: "sans_bold";
                    @media screen and (max-width:1200px){
                        font-size: 18px;
                        width: 300px;
                    }
                    @media screen and (max-width:500px){
                        font-size: 14px;
                        width: 240px;
                    }

                    .free {
                        color: $btn;
                        white-space: pre-wrap;
                    }
                }

                &__input {
                    width: 370px;
                    height: 38px;
                    font-size: 14px;
                    color: $black;
                    font-family: "sans_reg";
                    border-bottom: 1px solid $grey;
                    @media screen and (max-width:1200px){
                        width: 300px;
                    }
                    @media screen and (max-width:500px){
                        width: 240px;
                    }

                    &::placeholder {
                        font-size: 14px;
                        color: $grey;
                        font-family: "sans_reg";
                    }
                }

                &__btn {
                    margin-top: 75px;

                    button {
                        width: 470px;
                        height: 60px;
                        background-color: $btn;
                        border-radius: 0 0 10px 10px;
                        font-family: "sans_semi";
                        font-size: 15px;
                        color: $white;
                        transition: 1s;
                        @media screen and (max-width:1200px){
                            width: 400px;
                        }
                        @media screen and (max-width:500px){
                            width: 290px;
                        }

                        &:hover {
                            transition: 0.7s;
                            background-color: $hover;
                        }
                    }
                }
            }
        }
    }
}


.media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #F8EFEF;
    @media screen and (max-width:1200px){
        height: 105px;
    }
    @media screen and (max-width:1020px){
        height: 239px;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1170px;
        height: 120px;
        @media screen and (max-width:1200px){
            height: 90px;
            width: 990px;
        }
        @media screen and (max-width:1020px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 180px;
            width: 455px;
        }
        @media screen and (max-width:500px){
            width: 290px;
            height: 239px;
        }

        .media__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 470px;
            height: 120px;
            font-size: 18px;
            color: #86878B;
            line-height: 1.5;
            font-family: "raleway-reg";
            @media screen and (max-width:1200px){
                font-size: 14px;
                height: 90px;
                width: 400px;
            }
            @media screen and (max-width:1020px){
                text-align: center;
            }
            @media screen and (max-width:500px){
                width: 271px;
                height: 110px;
                & p{
                    margin: 15px 0 0 0;
                }
            }
        }

        .media__ico {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
            @media screen and (max-width:1020px){
                height: 90px;
                flex-grow: 0;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                column-gap: 20px;
            }
            @media screen and (max-width:500px){
                width: 271px;
                column-gap: 17px;
                height: 58px;
            }

            & img{
                @media screen and (max-width:1200px){
                    width: 64px;
                    height: 64px;
                }
                @media screen and (max-width:1020px){
                    width: 50px;
                    height: 50px;
                }
                @media screen and (max-width:500px){
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
}


.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1412px;
    @media screen and (max-width:1200px){
        height: 1103px;
    }
    @media screen and (max-width:1020px){
        height: 1770px;
    }

    .tab {  
        width: 1170px;
        height: 540px;
        @media screen and (max-width:1200px){
            width: 992px;
            height: 425px;
        }
        @media screen and (max-width:1020px){
            width: 290px;
            height: 470px;
        }

        .tab-container {
            @media screen and (max-width:1020px){
                width: 290px;
                height: 470px;
            }

            .tab-wrapper {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                @media screen and (max-width:1020px){
                    width: 290px;
                    height: 470px;
                }

                & .tab-item{
                    order: 1;
                    display: flex;

                    .tabs__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        font-family: "raleway-reg";
                        font-size: 18px;
                        padding-left: 98px;
                        line-height: 1.3;
                        flex-grow: 1;
                        border: 1px solid $grey-white;
                        @media screen and (max-width:1200px){
                            font-size: 14px;
                            padding-left: 85px;
                        }
                        @media screen and (max-width:1020px){
                            font-size: 13px;
                            align-items: center;
                            text-align: center;
                            padding-left: 0px;
                        }

                        p {
                            width: 570px;
                            @media screen and (max-width:1200px){
                                width: 483px;
                                line-height: 1;
                            }
                            @media screen and (max-width:1020px){
                                width: 240px;
                            }
                        }

                        h2 {
                            font-family: "sans_bold";
                            font-size: 30px;
                            color: $black;
                            @media screen and (max-width:1200px){
                                font-size: 24px;
                            }
                            @media screen and (max-width:1020px){
                                margin: 35px 0 55px 0;
                            }
                        }

                        button {
                            width: 270px;
                            height: 58px;
                            background-color: $btn;
                            font-family: "sans_semi";
                            font-size: 18px;
                            color: $white;
                            transition: 1s;
                            @media screen and (max-width:1200px){
                                width: 232px;
                            }
                            @media screen and (max-width:1020px){
                                width: 242px;
                                height: 50px;
                                margin: 30px 0;
                            }

                            &:hover {
                                transition: 0.7s;
                                background-color: $hover;
                            }
                        }
                    }

                    .tabs__image {
                        width: 470px;
                        height: 500px;
                        @media screen and (max-width:1200px){
                            width: 400px;
                            height: 385px;
                            & img{
                                width: 400px;
                                height: 385px;
                            }
                        }
                        @media screen and (max-width:1020px){
                            display: none;
                        }
                    }
                }

                & label{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 165px;
                    font-family: 'sans_reg';
                    font-size: 14px;
                    color: $darkgrey;
                    cursor: pointer;
                    @media screen and (max-width:1200px){
                        width: 150px;
                    }
                    @media screen and (max-width:1020px){
                        width: 90px;
                    }
                }

                & .tab-item,
                & input{
                    display: none;
                }

                & input:checked+label {
                    border: 1px solid #C6CBCD;
                    border-radius: 10px 10px 0 0;
                    border-bottom: none;
                }
        
                & input:checked+label+.tab-item {
                    display: flex;
                }
            }
        }
    }


    .benefits {
        display: flex;
        flex-direction: column;
        width: 1170px;
        height: 665px;
        margin-top: 50px;
        @media screen and (max-width:1200px){
            width: 992px;
            height: 518px;
        }
        @media screen and (max-width:1020px){
            margin: 50px 0 0 0;
            width: 290px;
            height: 1200px;
            justify-content: flex-start;
        }

        &__text {
            height: 282px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "raleway-reg";
            font-size: 18px;
            color: #86878B;
            @media screen and (max-width:1200px){
                font-size: 14px;
                height: 200px;
            }
            @media screen and (max-width:1020px){
                height: 175px;
                text-align: center;
            }

            hr {
                width: 170px;
                height: 1px;
                background: $btn;
                margin: 50px 0 40px 0;
                @media screen and (max-width:1200px){
                    width: 142px;
                    margin: 40px 0 30px 0;
                }
                @media screen and (max-width:1020px){
                    width: 134px;
                    margin: 45px 0 25px 0;
                }
            }
        }

        &__cards {
            display: flex;
            height: 383px;
            @media screen and (max-width:1200px){
                height: 318px;
                justify-content: space-between;
            }
            @media screen and (max-width:1020px){
                height: 974px;
                flex-direction: column;
            }

            .cards {
                width: 33.33%;
                height: 383px;
                text-align: center;
                font-family: "raleway-reg";
                font-size: 18px;
                line-height: 1.3;
                color: $black;
                overflow: hidden;
                @media screen and (max-width:1200px){
                    font-size: 14px;
                    height: 318px;
                    line-height: 1;
                    width: 317px;
                    & img{
                        width: 147px;
                        height: 147px;
                    }
                }
                @media screen and (max-width:1020px){
                    width: 288px;
                }

                &__title_size {
                    margin: 35px 0;
                }
            }
        }
    }
}


.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 100%;
    height: 900px;
    @media screen and (max-width:1200px){
        height: 770px;
    }
    @media screen and (max-width:1020px){
        height: 1480px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 1170px;
        height: 800px;
        @media screen and (max-width:1200px){
            width: 992px;
            height: 670px;
        }
        @media screen and (max-width:1020px){
            width: 288px;
            height: 1454px;
        }

        .prices__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #86878B;
            height: 280px;
            font-family: "raleway-reg";
            font-size: 18px;
            @media screen and (max-width:1200px){
                font-size: 14px;
            }
            @media screen and (max-width:1020px){
                width: 288px;
                height: 176px;
                text-align: center;
            }

            hr {
                width: 170px;
                height: 1px;
                margin: 50px 0 40px 0;
                background-color: $btn;
                @media screen and (max-width:1200px){
                    margin: 40px 0 30px 0;
                    width: 143px;
                }
                @media screen and (max-width:1020px){
                    margin: 35px 0 25px 0;
                    width: 134px;
                }
            }
        }

        .prices-cards {
            display: flex;
            justify-content: space-between;
            height: 520px;
            @media screen and (max-width:1200px){
                height: 463px;
            }
            @media screen and (max-width:1020px){
                width: 288px;
                height: 1254px;
                flex-direction: column;
            }
            

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 370px;
                height: 510px;
                @media screen and (max-width:1200px){
                    width: 317px;
                    height: 453px;
                }
                @media screen and (max-width:1020px){
                    width: 288px;
                    height: 400px;
                }

                li {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "raleway-reg";
                    color: #86878B;
                    font-size: 18px;
                    height: 50px;
                    background-color: $white;
                    @media screen and (max-width:1200px){
                        height: 44px;
                    }
                    @media screen and (max-width:1020px){
                        font-size: 14px;
                        height: 40px;
                    }

                    &:nth-child(-n+3) {
                        background-color: $darkgrey;
                    }

                    &:nth-child(1) {
                        font-family: "sans_bold";
                        font-size: 24px;
                        color: $white;
                        @media screen and (max-width:1020px){
                            font-size: 18px;
                        }
                    }

                    &:nth-child(2) {
                        font-family: "raleway-bold";
                        font-size: 36px;
                        color: $white;
                        height: 100px;
                        border-top: 2px solid $white;
                        border-bottom: 2px solid $white;
                        @media screen and (max-width:1200px){
                            height: 88px;
                        }
                        @media screen and (max-width:1020px){
                            font-size: 24px;
                            height: 80px;
                        }
                    }
                }
            }

            &__item:nth-child(-n+3):hover {
                cursor: pointer;
                box-shadow: 4px 5px 4px 4px #86878b8f;
                justify-content: flex-start;
                background-color: $white;
                @media screen and (max-width:1020px){
                    justify-content: flex-end;
                }
            }
        }
    }
}


.customers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 744px;
    font-family: "raleway-reg";
    @media screen and (max-width:1200px){
        height: 616px;
    }
    @media screen and (max-width:1020px){
        height: 580px;
    }

    &__inner {
        width: 1170px;
        height: 630px;
        @media screen and (max-width:1200px){
            width: 992px;
            height: 509px;
        }
        @media screen and (max-width:1020px){
            width: 288px;
            height: 550px;
        }

        .customers__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 294px;
            font-size: 18px;
            color: #86878B;
            @media screen and (max-width:1200px){
                font-size: 14px;
                height: 200px;
            }
            @media screen and (max-width:1020px){
                text-align: center;
            }

            hr {
                width: 170px;
                height: 1px;
                margin: 50px 0 40px 0;
                background-color: $btn;
                @media screen and (max-width:1200px){
                    width: 142px;
                    margin: 40px 0 30px 0;
                }
                @media screen and (max-width:1020px){
                    width: 134px;
                    margin: 35px 0 25px 0;
                }
            }
        }

        .wrapper-slider{
            @media screen and (max-width:1020px){
                width: 288px;
                height: 316px;
                overflow: hidden;
            }

            .customers__reviews {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width:1020px){
                    width: 864px;
                    height: 316px;
                    position: relative;
                    transition: all 1s;
                }

                .reviews-cards {
                    width: 370px;
                    height: 336px;
                    @media screen and (max-width:1200px){
                        width: 317px;
                        height: 309px;
                    }
                    @media screen and (max-width:1020px){
                        width: 288px;
                        height: 316px;
                    }

                    &__box1 {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        height: 180px;
                        color: #86878B;
                        font-size: 18px;
                        padding: 0 25px;
                        background-color: #E2E2E2;
                        border-radius: 10px;
                        @media screen and (max-width:1200px){
                            font-size: 14px;
                        }
                    }

                    &__box2 {
                        display: flex;
                        align-items: flex-end;
                        font-size: 18px;
                        color: $black;
                        height: 156px;
                        @media screen and (max-width:1200px){
                            font-size: 14px;
                            height: 129px;
                        }

                        p {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
        
        .btn-next{
            display: none;
            color: white;
            width: 100px;
            height: 35px;
            background-color: $btn;
            margin: 0 0 0 187px;
            font-size: 14px;
            @media screen and (max-width:1020px){
                display: inline;
            }
            
            &:hover{
                background-color: $hover;
                transition: all 0.5s;
            }
        }
    }
}


.dezign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width:1200px){
        height: 358px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 342px;
        width: 1170px;
        font-size: 18px;
        color: $white;
        font-family: "raleway-reg";
        @media screen and (max-width:1200px){
            font-size: 14px;
            height: 258px;
            width: 992px;
        }
        @media screen and (max-width:1020px){
            height: 288px;
            width: 300px;
            text-align: center;
            line-height: 1.3;
        }

        .dezign__title {
            font-size: 36px;
            text-transform: uppercase;
            @media screen and (max-width:1200px){
                font-size: 24px;
            }
        }

        hr {
            background-color: $white;
            width: 170px;
            height: 1px;
            margin: 50px 0 40px 0;
            @media screen and (max-width:1200px){
                width: 142px;
                margin: 40px 0 30px 0;
            }
            @media screen and (max-width:1020px){
                width: 134px;
                margin: 50px 0 25px 0;
            }
        }

        .dezign__btn {
            margin-top: 73px;
            @media screen and (max-width:1200px){
                margin-top: 32px;
            }
            @media screen and (max-width:1020px){
                margin-top: 50px;
            }

            button {
                width: 370px;
                height: 58px;
                font-size: 18px;
                background: transparent;
                font-family: "sans_semi";
                border: 2px solid $white;
                color: $white;
                transition: 1s;
                @media screen and (max-width:1200px){
                    width: 318px;
                }
                @media screen and (max-width:1020px){
                    width: 287px;
                    height: 50px;
                }

                &:hover {
                    transition: 0.7s;
                    background-color: $hover;
                }
            }
        }
    }
}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 722px;
    width: 100%;
    background-color: $white;
    @media screen and (max-width:1200px){
        height: 662px;
    }
    @media screen and (max-width:1020px){
        height: 847px;
        align-items: flex-start;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        height: 622px;
        width: 1170px;
        @media screen and (max-width:1200px){
            height: 562px;
            width: 992px;
        }
        @media screen and (max-width:1020px){
            height: 807px;
            width: 288px;
        }

        .contact__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            font-family: "raleway-reg";
            font-size: 18px;
            color: #86878B;
            height: 211px;
            @media screen and (max-width:1200px){
                font-size: 14px;
                width: 992px;
                height: 168px;
            }
            @media screen and (max-width:1020px){
                height: 176px;
                width: 288px;
                text-align: center;
            }

            hr {
                width: 170px;
                height: 1px;
                margin: 50px 0 40px 0;
                background-color: $btn;
                @media screen and (max-width:1200px){
                    width: 143px;
                    margin: 40px 0 30px 0;
                }
                @media screen and (max-width:1020px){
                    width: 134px;
                    margin: 45px 0 25px 0;
                }
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 1170px;
            height: 411px;
            @media screen and (max-width:1200px){
                width: 992px;
                height: 394px;
            }
            @media screen and (max-width:1020px){
                width: 288px;    
                height: 631px;
                justify-content: flex-start;
            }

            &__wrapper {
                display: flex;
                width: 100%;
                @media screen and (max-width:1020px){
                    width: 288px;    
                    height: 631px;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                .contact-form__input {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    height: 214px;
                    @media screen and (max-width:1020px){
                        width: 100%;
                        margin: 64px 0 0 0;
                    }

                    input {
                        width: 571px;
                        height: 38px;
                        font-size: 14px;
                        color: $black;
                        font-family: "sans_reg";
                        border-bottom: 1px solid $grey;
                        @media screen and (max-width:1200px){
                            width: 486px;
                        }
                        @media screen and (max-width:1020px){
                            width: 288px;
                            height: 38px;
                        }


                        &::placeholder {
                            font-size: 14px;
                            color: $grey;
                            font-family: "sans_reg";
                        }
                    }
                }

                .contact-form__message {
                    width: 50%;
                    height: 214px;
                    @media screen and (max-width:1020px){
                        width: 100%;
                        height: 203px;
                        margin: 50px 0 0 0;
                    }

                    textarea {
                        height: 100%;
                        width: 100%;
                        font-size: 14px;
                        color: $black;
                        font-family: "sans_reg";
                        border-bottom: 1px solid $grey;
                        @media screen and (max-width:1200px){
                            width: 486px;
                        }
                        @media screen and (max-width:1020px){
                            width: 288px;
                            height: 203px;
                        }

                        &::placeholder {
                            font-size: 14px;
                            color: $grey;
                            font-family: "sans_reg";
                        }
                    }
                }
            }

            .contact-form__btn {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 60px;
                margin-top: 50px;
                @media screen and (max-width:1020px){
                    margin: 0;
                    height: 50px;
                }

                button {
                    width: 370px;
                    height: 60px;
                    background-color: $btn;
                    font-family: "sans_semi";
                    font-size: 18px;
                    color: $white;
                    transition: 1s;
                    @media screen and (max-width:1200px){
                        width: 318px;
                        height: 58px;
                    }
                    @media screen and (max-width:1020px){
                        width: 288px;
                        height: 50px;
                    }

                    &:hover {
                        transition: 0.7s;
                        background-color: $hover;
                    }
                }
            }
        }
    }
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 164px;
    background-color: $black;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1170px;
        height: 100px;
        @media screen and (max-width:1200px){
            width: 922px;
        }
        @media screen and (max-width:1020px){
            width: 288px;
        }

        .footer__ico {
            display: flex;
            justify-content: center;
            align-self: center;
            @media screen and (max-width:1200px){
                & img{
                    width: 45px;
                    height: 45px;
                }
            }
            @media screen and (max-width:1020px){
                & img{
                    width: 26px;
                    height: 26px;
                }
            }

            a {
                margin-right: 33px;
                @media screen and (max-width:1200px){
                margin-right: 27px;
                }
                @media screen and (max-width:1020px){
                    margin-right: 17px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .footer__copyright {
            display: flex;
            justify-content: center;
            align-self: center;
            margin-top: 28px;
            color: #86878B;
            font-size: 18px;
            font-family: "raleway-reg";
            @media screen and (max-width:1200px){
                font-size: 14px;
                margin-top: 38px;
            }
            @media screen and (max-width:1020px){
                margin-top: 42px;
            }
        }
    }
}